{% extends 'base.html.twig' %}
{% block carousel %}{% endblock %}
{% block content %}
	<div class="registerRow">

		<div class="w-50">
			<h1>Inscription</h1>

			{% if notification %}
				<div class="alert alert-info">{{ notification }}</div>
				<hr>
			{% endif %}

			{{ form(form) }}
			</div>
<img src="{{ asset('assets/img/header2.jpg') }}" class="register" alt="cration de bijoux">
		</div>
		</div>
	{% endblock %}
