{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!
{% endblock %}

{% block content %}
	<div class="loginBody ">
<div class="loginHome rect">
<h3>N'HÉSITEZ PAS À</h3>
<h1>NOUS CONTACTER</h1>
<div>
{{form(form)}}
</div>
</div>
</div>
{% endblock %}


